$light-grayish-blue: hsl(227, 47%, 96%);
$light-blue: hsl(210, 78%, 56%);
$light-green: hsl(146, 68%, 55%);

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

$dark-blue: hsl(230, 17%, 14%);
$dark-grayish-blue: hsl(228, 12%, 44%);
$dark-desaturated-blue: hsl(228, 28%, 20%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

$very-dark-blue: hsl(232, 19%, 15%);
$desaturated-blue: hsl(228, 34%, 66%);

$white: hsl(0, 0%, 100%);

$medium-spacing: 20px;
$large-spacing: 40px;
